<div class="message" [ngClass]="{'show': showMessage}">
  <div class="container">
    {{message.message}}
    <i class="fa fa-times" (click)="closeShowMessage()"></i>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header"><i class="fa fa-key"></i>Change Password</div>
        <form [formGroup]="updateForm">
          <div class="card-body">
            <div class="form-group">
              <label>Old Password</label>
              <input type="password" formControlName="old_password" class="form-control">
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input type="password" formControlName="pass1" class="form-control">
            </div>
            <div class="form-group">
              <label>Re-enter New Password</label>
              <input type="password" formControlName="pass2" class="form-control">
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" (click)="updateHandler(updateForm.value)" class="btn btn-primary">Change Password</button>
            <button type="button" (click)="cancelHandler()" class="btn btn-cancel">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
