<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header"><i class="fa fa-address-card"></i>Update Account</div>
        <form [formGroup]="updateForm">
          <div class="card-body">
            <div class="form-group">
              <label>Username</label>
              <input type="text" formControlName="username" class="form-control">
            </div>
            <div class="form-group">
              <label>Picture</label>
              <input type="file" formControlName="picture" (change)="onSelectedFile($event)" class="form-control">
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" (click)="updateHandler(updateForm.value)" class="btn btn-primary">Update Account</button>
            <button type="button" (click)="cancelHandler()" class="btn btn-cancel">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
