<div class="container">
    <h3>How to</h3>

    <p>How to show your code in the forum, Here will it be explained and showed. So when you want
       to publish a post with some issues or if you have a solution tome someone elses issue, then you know
       how to do it.<br><br>You can expand the boxes below and see how to write it and which languages there are supported and how
       you would have to call them.</p>



    <details>
        <summary>Language classes</summary>
        <div>
            <label>Angular</label><span>language-typescript</span>
            <label>Csharp</label><span>language-csharp</span>
            <label>Python</label><span>language-python</span>
            <label>Html</label><span>language-markup</span>
            <label>Css</label><span>language-css</span>
            <label>C++</label><span>language-clike</span>
            <label>Vue</label><span>language-typescript</span>
            <label>React</label><span>language-typescript</span>
            <label>Javascript</label><span>language-javascript</span>
            <label>Typescript</label><span>language-typescript</span>
            <label>Dotnet Core</label><span>language-dotnet</span>
        </div>
    </details>

    <details>
        <summary>Usage of language classes</summary>
        <p>
            To show your code on the website and to use the language classes,
            you have to follow the pattern shown below.<br><br>
            &#60;pre class="language-css"&#62;<br>
            &#60;code&#62;
            <i>Enter your css code in here...</i>
            &#60;/code&#62;<br>
            &#60;/pre&#62;
        </p>
    </details>

    <details>
        <summary>Code Example with preview</summary>
        <div class="text">
            Here is how to write the code in the posts.<br>
            <br>
            &#60;pre class="language-csharp"&#62;<br>
            &#60;code&#62;
            console.writeline = "This is a test";
            &#60;/code&#62;<br>
            &#60;/pre&#62;<br>
            <br>
            Here is a preview of the code
            <br>
<pre class="language-csharp">
<code>
console.writeline = "this is a test";
</code>
</pre>
        </div>
    </details>
</div>
